<body>
  <div class="container">
    <div>
      <img src="{{ productDetails.url }}" />
    </div>
    <div class="sideContainer">
      <h3>{{ productDetails.name }}</h3>
      <p style="margin-top: 20px">{{ productDetails.description }}</p>
      <div class="storageSize">
        <div class="form-group">
          <strong>Storage size</strong>
          <br />

          <div class="form-control">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox1"
                value="128"
                checked
                disabled
              />
              <label class="form-check-label" for="inlineCheckbox1"
                >128GB</label
              >
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="column wrap">
        <div class="quantity" fxLayoutGap="10px" fxLayout="row wrap">
          <strong>Quantity</strong>
          <input type="number" min="1" value="1" [(ngModel)]="quantity" />
        </div>

        <div class="price" fxLayout="row wrap">
          <strong>Price</strong>
          <p>${{ productDetails.price }}</p>
        </div>
        <div fxLayoutGap="10px" fxLayoutAlign="center">
          <button
            type="button"
            (click)="addToCart(productDetails)"
            class="btn btn-dark btn"
            routerLink="/cart"
          >
            Buy now
          </button>

          <button
            type="button"
            class="btn btn-light"
            (click)="addToCart(productDetails)"
          >
            Add to cart
          </button>
        </div>
        <ngb-alert
          style="margin-top: 20px"
          #selfClosingAlert
          *ngIf="successMessage"
          type="success"
          (closed)="successMessage = ''"
          >{{ successMessage }}
        </ngb-alert>
      </div>
    </div>
  </div>
</body>
