.container {
}

.img {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}

.text {
  position: absolute;
  text-align: center;
  top: 50%;
}
