@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 20px 200px 20px 200px;
}
a {
  font-weight: 500;
  justify-content: space-between;
  color: #343a40;
}
.logo {
  width: 40%;
  margin-right: auto;
}
/* #e27d60 */

.links {
  margin-left: 20px;
}
